<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental Card</title>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../static/js/script.js" defer></script>
</head>
<body>
    <!-- Tiles -->
    <div id="tiles" class="p-4 grid grid-cols-4 max-[1530px]:grid-cols-3 max-[1170px]:grid-cols-2 max-[740px]:grid-cols-1 gap-4 hidden">
    </div>
    <!-- Shimmer -->
     <div id="shimmer" class="grid grid-cols-4 max-[1530px]:grid-cols-3 max-[1170px]:grid-cols-2 max-[740px]:grid-cols-1 p-4 gap-4">
     </div>
</body>
</html>